<div>
  <h1 class="color-peche pt-5 text-center">Séréni'chat</h1>

  <div class="navigation-bar row text-center">
    <div class="col"><div class="typo-link">Accueil</div></div>
    <div class="col"><div class="typo-link">Nos locaux</div></div>
    <div class="col"><div class="typo-link">Pour qui ?</div></div>
    <div class="col"><div class="typo-link">Nos pensionnaires</div></div>
    <div class="col"><div class="typo-link">Réservation</div></div>
    <div class="col"><div class="typo-link">Nous aider ?</div></div>
    <div class="col"><div class="typo-link">Contact</div></div>
  </div>

  <hr>

</div>

