@import "/~src/assets/style/colors";

.navigation-bar {
  background-color:
    rgba(247, 198, 169, 1);
  border-radius: 80px;
  border: solid 0px;
  height: 3rem;
}
.navigation-bar div {
  padding-top: 0.4rem;
  font-family: brandon-grot-w01-light, sans-serif;
}

hr {
  border: 1px solid $turquoise;
}

.logo {
  width: 100%;
}

