@import "/~src/assets/style/colors";

.navigation-bar {
  background-color:
    rgba(247, 198, 169, 1);
  border-radius: 10px;
  border: solid 0px;
}
.navigation-bar div {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

hr {
  border: 1px solid $turquoise;
}

.logo {
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  width: 30%;
  cursor: pointer;
}

h1 {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
