<div class="mb-5 mt-5">

  <hr>

  <div class="row text-center">
    <div class="col">
      <a href="https://www.facebook.com/Serenichat" target="_blank">
        <img src="../../assets/images/logofb.webp" alt="facebook" class="reseaux">
      </a>
    </div>
    <div class="col">
      <a href="https://www.instagram.com/serenichat" target="_blank">
        <img src="../../assets/images/logoinsta.webp" alt="instagram" class="reseaux">
      </a>
    </div>
    <div class="col">
      <a href="https://twitter.com/Serenichat" target="_blank">
        <img src="../../assets/images/logotwi.webp" alt="twitter" class="reseaux">
      </a>
    </div>
  </div>
</div>
<div class="jumbo-body color-turquoise-foncee text-center">
Séréni'chat médiation animale : 15 rue Desargues 75011 Paris</div>