<div class="text-big">
  <div class="color-peche-foncee text-center mt-5">
    <div>Les locaux</div>
  </div>
  <div class="color-turquoise-foncee text-center">
    <div>Séréni'chat a fait son nid au <a href="https://www.google.com/maps/place/15+Rue+Desargues,+75011+Paris" target="_blank">15, Rue Desargues 75011 Paris.</a></div>
    <div>-Le local est accessible aux personnes à mobilité réduite-</div>
  </div>

<div class="row justify-content-center pt-4 pb-4">
  <div class="diaporama">
    <img class="image-diaporama" *ngFor="let image of images; let i = index;" [src]="image.image" [alt]="image.alt" (click)="showLightbox(i)">
  </div>
</div>

<ng-image-fullscreen-view
  [images]="images"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()">
</ng-image-fullscreen-view>

<div class="text-big">
<div class="color-peche-foncee text-center">
  <div>Accès transports en commun</div>
</div>
<div class="color-turquoise-foncee text-center">
  <div>En métro : Couronnes (ligne 2) ou Belleville (lignes 2 et 11)</div>
  <div>En bus : Maison des Metallos (bus 96), Couronnes (bus 96) ou Ramponeau (bus 20 et 71)</div>
  <div>En voiture : Places pour personnes en situation de handicap à proximité</div>
</div>
</div>
