
$peche: rgba(247, 198, 169, 1);
$peche-foncee: #e65f0e;

$turquoise: rgba(178, 222, 214, 1);
$turquoise-foncee: #409C8C;

$marron: #4D2005;

/* calendar */
$blue: #626E7E;
$light: lighten($blue, 40%);

$full-color: #ef9a9a;
$empty-color: #c5e1a5;
$half-hour-color: #ffcc80;
$half-day-color: #81d4fa;
