label.mat-form-field-label {
  font-family: 'grot', 'arial', sans-serif;
}

div.mat-radio-label-content {
  font-family: 'grot', 'arial', sans-serif;
}

mat-radio-button {
  padding-left: 1em;
}

label.mat-radio-label {
  padding-top: .25em;
  word-break: break-word;
  white-space: normal;
}
