@import "colors";

.color-peche {
  color: $peche;
}

.color-peche-foncee {
  color: $peche-foncee;
}

.color-turquoise-foncee {
  color: $turquoise-foncee;
}

.text-big {
  font-size: 1.25rem;
}
.text-vbig {
  font-size: 4rem;
}
.typo-link {
  cursor: pointer;
  color: $marron;
  &:hover {
    color: $turquoise-foncee;
  }
}

.typo-link.selected {
  color: $turquoise-foncee;
}

