@import "colors";

@font-face {
  font-family: grot;
  src: url(assets/font/brandon-grot.woff);
}

@font-face {
  font-family: westhouse;
  src: url(assets/font/Westhouse.ttf);
}

.typo-westhouse {
  font-family: 'westhouse', 'arial', sans-serif;
}

body {
  font-family: 'grot', 'arial', sans-serif;
  font-size: 20px;
}

.color-peche {
  color: $peche;
}

.color-peche-foncee {
  color: $peche-foncee;
}

.color-turquoise-foncee {
  color: $turquoise-foncee;
}

.text-big {
  font-size: 1.5rem;
}
.text-vbig {
  font-size: 6rem;
}

.typo-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: blueviolet;
  }
}

a:visited {
  color: blueviolet;
}

.typo-link-header {
  cursor: pointer;
  color: $marron;
  &:hover {
    color: $turquoise-foncee;
  }
}

.typo-link-header.selected {
  color: $turquoise-foncee;
}

.curseur {
  cursor: pointer;
}