@import "colors";

.color-peche {
  color: $peche;
}

.color-peche-foncee {
  color: $peche-foncee;
}

.color-turquoise-foncee {
  color: $turquoise-foncee;
}

.text-big {
  font-size: 1.25rem;
}
.text-vbig {
  font-size: 4rem;
}

.typo-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: blueviolet;
  }
}

a:visited {
  color: blueviolet;
}

.typo-link-header {
  cursor: pointer;
  color: $marron;
  &:hover {
    color: $turquoise-foncee;
  }
}

.typo-link-header.selected {
  color: $turquoise-foncee;
}

