<div>
  <div class="row mt-5">
    <div class="col pb-3">
      <div class="jumbo">
        <div class="jumbo-title">
          <b>D'où viennent nos pensionnaires ?</b>
        </div>
        <div class="jumbo-body">
          <div class="color-turquoise-foncee text-center">
            <div class="mb-4">Les chats et lapins accueillis par <b>Séréni'chat</b> viennent d'associations, refuges, familles d'accueil...
              Certains ont du mal à trouver des adoptants notamment parce qu'ils sont trop discrets, différents ou trop
              âgés. N'hésitez pas à faire leur connaissance !
            </div>
            <div class="color-peche-foncee mb-3">
              <div>Notre association partenaire pour les chats :</div>
              <div><a href="https://www.lescopainsdakina.fr" target="_blank">Les Copains d'Akina</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="jumbo">
        <div class="jumbo-title">
        <b>Adoption</b>
        </div>
        <div class="jumbo-body">
          <div class="color-turquoise-foncee text-center">
            <div>Un coup de cœur ? <br>Certains de nos pensionnaires félins sont <b>adoptables</b> !</div>
            <div>Contactez-nous afin de discuter des conditions d'adoption et être redirigé vers notre association
              partenaire.</div>
            <div><u><b>Remarque</b></u> : Bran, Sansa, Arya, Régate, Lulu et Tokyo sont nos résidents <b>permanents</b>. Ils ne sont pas à l'adoption, vous pourrez les voir à chacune de vos visites !</div>
            <div class="color-peche-foncee mt-3 text-left"><b>Important</b></div>
            <div class="text-left">Comme nous sommes <b>famille d'accueil</b>, nos chats ne sont pas toujours les mêmes ! Nous essayons de mettre à jour notre site régulièrement mais il est possible que nous n'ayons pas encore eu le temps de changer les photos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="color-peche-foncee mt-3">-Cliquez sur les images pour les agrandir-</div>
<div class="row justify-content-center pt-5">
  <div class="diaporama">
    <img class="image-diaporama" *ngFor="let image of images; let i = index;" [src]="image.image" [alt]="image.alt" (click)="showLightbox(i)">
  </div>
</div>

<ng-image-fullscreen-view
  [images]="images"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()">
</ng-image-fullscreen-view>
