<div>
  <div class="row mt-5">
    <div class="col pb-3">
      <div class="jumbo">
        <div class="jumbo-title">
          D'où viennent nos pensionnaires ?
        </div>
        <div class="jumbo-body">
          <div class="color-turquoise-foncee text-center">
            <div class="mb-4">Les chats et lapins accueillis par Séréni'chat viennent d'associations, refuges, familles d'accueil...
              Certains ont du mal à trouver des adoptants notamment parce qu'ils sont trop discrets, différents ou trop
              âgés. N'hésitez pas à faire leur connaissance !
            </div>
            <div class="color-peche-foncee mb-3">Nos associations partenaires pour les chats : Association Alerte SOS, les Copains d'Akina, Chat d'oc
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="jumbo">
        <div class="jumbo-title">
          Adoption
        </div>
        <div class="jumbo-body">
          <div class="color-turquoise-foncee text-center">
            <div>Un coup de cœur ? <br>Certains de nos pensionnaires félins sont adoptables !</div>
            <div>Contactez-nous afin de discuter des conditions d'adoption et être redirigé vers nos associations
              partenaires.</div>
            <div class="color-peche-foncee mt-3 text-left">Important</div>
            <div class="text-left">Comme nous sommes famille d'accueil, nos chats ne sont pas toujours les mêmes ! Nous essayons de mettre à jour notre site régulièrement mais il est possible que nous n'ayons pas encore eu le temps de changer les photos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row text-center mt-3">
  <img class="img-rounded-corners cat" src="../../assets/images/Priam.jpg" alt="cats">
</div>
