<div>
  <div class="row mt-5">
    <div class="col pb-3">
      <div class="jumbo">
        <div class="jumbo-title">
          D'où viennent nos pensionnaires ?
        </div>
        <div class="jumbo-body">
          <div class="color-turquoise-foncee text-center">
            <div class="mb-4">Les chats et lapins accueillis par Séréni'chat viennent d'associations, refuges, familles d'accueil...
              Certains ont du mal à trouver des adoptants notamment parce qu'ils sont trop discrets, différents ou trop
              âgés. N'hésitez pas à faire leur connaissance !
            </div>
            <div class="color-peche-foncee mb-3">
              <div>Notre association partenaire pour les chats :</div>
              <div>Les Copains d'Akina</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="jumbo">
        <div class="jumbo-title">
          Adoption
        </div>
        <div class="jumbo-body">
          <div class="color-turquoise-foncee text-center">
            <div>Un coup de cœur ? <br>Certains de nos pensionnaires félins sont adoptables !</div>
            <div>Contactez-nous afin de discuter des conditions d'adoption et être redirigé vers notre association
              partenaire.</div>
            <div><u>Remarque</u> : Bran, Sansa, Arya, Lulu et Tokyo sont nos résidents permanents. Ils ne sont pas à l'adoption, vous pourrez les voir à chacune de vos visites !</div>
            <div class="color-peche-foncee mt-3 text-left">Important</div>
            <div class="text-left">Comme nous sommes famille d'accueil, nos chats ne sont pas toujours les mêmes ! Nous essayons de mettre à jour notre site régulièrement mais il est possible que nous n'ayons pas encore eu le temps de changer les photos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center pb-5 justify-content-center mt-5">
    <div class="col"><img class="img-rounded-corners local2" src="../../assets/images/LuluTokyotxt.png" alt="lapines"></div>
    <div class="col"><img class="img-rounded-corners local2" src="../../assets/images/tripléstxt.jpg" alt="triplés"></div>
    <div class="col"><img class="img-rounded-corners local2" src="../../assets/images/axotxt.jpg" alt="axos"></div>
  </div>