<div class="text-big">
    <div class="color-peche-foncee text-center mt-5">
      <div><b>Le club Jeunes Adultes Neuro-Atypiques</b></div>
    </div>
    <div class="color-turquoise-foncee text-center">
      <div class="mt-4">Le concept : se retrouver entre personnes neuro-atypiques pour partager un maximum.</div>
          <div>Vous voulez intégrer un groupe sympa qui se réunit pour jouer à vos jeux de société 
              préférés ?</div>
          <div>Discuter de vos victoires, vos échecs, vos ambitions ? </div>
          <div>Rencontrer des personnes qui vivent les mêmes difficultés ?</div>
          <div>Partager vos passions et interêts particuliers ?</div>
          <div>Tout ça à moindre coût (5 euros par personne), en étant entourés d'animaux et 
              en ayant accès à la salle sensorielle ?</div>

        <div class= "mt-4">-> Le club JANA est fait pour vous !</div>

      <div class="color-peche-foncee mt-4">Il suffit de nous <span class="typo-link"
        routerLink="/contact">envoyer un mail</span> nous précisant 
          que vous êtes intéressé. Quand nous aurons 5 ou 6 personnes par session, nous 
          planifierons une date à laquelle tout le monde est disponible !</div>
    </div>
</div>
