<div class="text-big">
    <div class="color-peche-foncee text-center mt-5">
      <div><b>Le club Jeunes Adultes Neuro-Atypiques</b></div>
    </div>
    <div class="color-turquoise-foncee text-center">
      <div class="mt-4"><b>Le concept</b> : se retrouver entre personnes <b>neuro-atypiques</b> pour <b>partager</b> un maximum.</div>
          <div>Vous voulez <b>intégrer</b> un groupe sympa qui se réunit pour jouer à vos jeux de société 
              préférés ?</div>
          <div><b>Discuter</b> de vos victoires, vos échecs, vos ambitions ? </div>
          <div><b>Rencontrer</b> des personnes qui vivent les mêmes difficultés ?</div>
          <div><b>Partager</b> vos passions et interêts particuliers ?</div>
          <div>Tout ça à <b>moindre coût</b> (5 euros par heure), en étant entourés d'<b>animaux</b> et 
              en ayant accès à la <b>salle sensorielle</b> ?</div>

        <div class= "mt-4">-> Le <b>club JANA</b> est fait pour vous !</div>

      <div class="color-peche-foncee mt-4">Il suffit de nous <span class="typo-link"
        routerLink="/contact">envoyer un mail</span> nous précisant 
          que vous êtes intéressé. Quand nous aurons 5 ou 6 personnes par session, nous 
          planifierons une date à laquelle tout le monde est disponible !</div>
    </div>
</div>
