<p>Réservation : afficher tarifs direct !
  Options :
  Séances dispos ou pas visibles sur calendrier + combien places dispo.
  1ère séance gratuite : mardi, jeudi et vendredi.
  1h à max 2 enfants : 30 euros. 2 personnes max peuvent réserver la même heure. Notifiés qu'il reste 1 ou
  2 places disponibles. mardi, jeudi et vendredi. Cocher une case aussi si 2 enfants même famille, dispo que si 2/2
  places dispos.
  1h personnalisée 1 enfant : 45 euros. mardi, jeudi et vendredi : même créneau que à 2 : « séances à 1 ou 2
  enfants » et cocher si on veut perso.
  demi journée max 2 enfants : 75 euros (4h à 25 euros dont 1 gratuite). 2 personnes max peuvent réserver
  la même demi journée. Notifiés qu'il reste 1 ou 2 places disponibles. Mercredi et samedi 4h matin 4h
  aprem. Cocher une case aussi si 2 enfants même famille, dispo que si 2/2 places dispos.
  15 min entre chaque heure pour m'occuper des parents et du local.
  Pendant la réservation, à remplir : nom prénom parent, tel, mail, nom prénom enfant, infos supplémentaires comment gérer
  l'enfant, « ajouter un enfant » si on réserve pour 2, sera ou non accompagné, si oui parent ou aidant.
  Total euros (à payer au local), validation.
  Séance devient non dispo sur calendrier quand 2/2 ou 1/1. Doit pouvoir redevenir dispo si annulation. Système
  d'annulation par moi.
  Après la réservation il leur faut un mail de confirmation + infos genre digicode.
  Il faut que moi j'aie accès à un calendrier à jour où je vois qui a réservé quand + les infos sur comment
  gérer les enfants.</p>
