@import "/~src/assets/style/colors";

table {
  cursor: default;
  width: 100%;
  min-width: 300px;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
  color: $blue;
  thead {
    tr {
      th {
        background: $blue;
        color: $light;
        overflow: hidden;
        &:first-child {
          border-radius: 3px 0 0 0;
        }
        &:last-child {
          border-radius: 0 3px 0 0;
        }
        .date {
          display: block;
          border-radius: 50%;
          height: 30px;
        }
      }
    }
  }
  tbody {
    tr {
      height: 65px;
      td {
        border-bottom: 1px solid $blue;
        text-align: center;
        vertical-align: middle;
        border-left: 1px solid $blue;
        position: relative;
        &:last-child {
          border-right: 1px solid $blue;
        }
      }
    }
  }
}

.short {
  display: none;
}

@media(max-width: 70em) {
  .short {
    display: block;
  }
  .long {
    display: none;
  }
}

@media(max-width: 40em) {
  span.date {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
  span.short {
    display: none;
  }
  .seance span {
    display: block;
    font-size: 13px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
}

.mat-icon {
  cursor: pointer;
}

.closed-color {
  background: $light;
}

.full-color {
  background: $full-color;
}

.empty-color {
  background: $empty-color;
}

.half-hour-color {
  background: $half-hour-color;
}

.half-day-color {
  background: $half-day-color;
}

.closed {
  @extend .closed-color;
}

.full {
  @extend .full-color;
}

.empty {
  cursor: pointer;
  @extend .empty-color;
}

.half-day {
  cursor: pointer;
  @extend .half-day-color;
}

.half-hour {
  cursor: pointer;
  @extend .half-hour-color;
}

.legende {
  display: flex;
  div {
    min-width: 175px;
  }
}
