<div class="text-big">
  <div class="color-peche-foncee text-center mt-5">
    <div>Ici, vous pouvez <b>réserver un créneau en ligne.</b></div>
    <div>-La première séance <u>d’une heure</u> est <b>gratuite</b>!-</div>
     <div class="color-turquoise-foncee text-left mt-3">
      <div>Pour les heures suivantes, nos tarifs :</div>
      <div>- Une place en séance d’une heure <b>classique</b> : 30 euros.</div>
      <div>- Séance <b>individuelle</b> : 45 euros.</div>
      <div>- Une place en demi journée <b>classique</b> : 75 euros (4h à 25 euros dont 1h offerte).</div>
      <div>- Demi journée <b>individuelle</b> : 120 euros (4h à 40 euros dont 1h offerte).</div>
     </div>
     <div class="color-peche-foncee text-center mt-5">
      <div>Remarque : si vous souhaitez réserver pour un adulte, merci de nous <span class="typo-link"
        routerLink="/contact">contacter</span> au préalable pour en discuter.</div>
      </div>
      <div class="color-turquoise-foncee text-center mt-5">
        <div>(Certains navigateurs ne veulent pas actualiser la page Réservation quand vous cliquez sur "actualiser" ou utilisez F5. 
          Pas de panique, l'emploi du temps est actualisé automatiquement ! 
          Vous pouvez aussi aller sur un autre onglet de notre site puis revenir sur "Réservation").</div>
        </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-6 text-left color-turquoise-foncee text-big curseur" (click)="addDays(-7)">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span>Semaine précédente</span>
  </div>
  <div class="col-6 text-right color-turquoise-foncee text-big curseur" (click)="addDays(7)">
    <span>Semaine suivante</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>

<div class="row justify-content-center">
  <table>
    <thead>
    <tr>
      <th id="seance"></th>
      <th *ngFor="let day of week" class="text-center" [id]="day.getDay()">
        <div class="day">
          <span class="long">{{ getDay(day.getDay(), false) }}</span>
          <span class="short">{{ getDay(day.getDay(), true) }}</span>
          <span class="date">{{ getDate(day) }}</span>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let libelle of seancesLibelles; let i = index">
      <td class="seance"><span>{{ libelle }}</span></td>
      <td *ngFor="let seance of getSeancesByIndex(i)" (click)="reserver(seance)" [class]="seance?.dispo"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-start legende">
  <div class="col-2 empty-color">2/2 places libres</div>
  <div class="col-2 half-hour-color">1/2 place libre une heure</div>
  <div class="col-2 half-day-color">1/2 place libre demi-journée</div>
  <div class="col-2 full-color">Complet</div>
  <div class="col-2 closed-color">Fermé</div>
</div>
