<div class="text-big">
  <div class="color-peche-foncee text-center mt-5">
    <div>La première séance <u>d’une heure</u> est gratuite !</div>
     <div class="color-turquoise-foncee text-left mt-1">
      <div>Pour les heures suivantes, nos tarifs :</div>
      <div>- Une place en séance d’une heure classique : 30 euros.</div>
      <div>- Séance individuelle : 45 euros.</div>
      <div>- Une place en demi journée classique : 75 euros (4h à 25 euros dont 1h offerte).</div>
      <div>- Demi journée individuelle : 120 euros (4h à 40 euros dont 1h offerte).</div>
     </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-1">
    <mat-icon (click)="addDays(-7)">keyboard_arrow_left</mat-icon>
  </div>
  <div class="col-1">
    <mat-icon (click)="addDays(7)">keyboard_arrow_right</mat-icon>
  </div>
</div>

<table>
  <thead>
  <tr>
    <th id="seance"></th>
    <th *ngFor="let day of week" class="text-center" [id]="day.getDay()">
      <span class="long">{{ getDay(day.getDay(), false) }}</span>
      <span class="short">{{ getDay(day.getDay(), true) }}</span>
      <span class="day">{{ getDate(day) }}</span>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libelle of seancesLibelles; let i = index">
      <td class="hour"><span>{{ libelle }}</span></td>
      <td *ngFor="let seance of getSeancesByIndex(i)" (click)="reserver(seance)" [class]="seance?.dispo"></td>
    </tr>
  </tbody>
</table>

<div class="row justify-content-start legende">
  <div class="col-2 empty-color">2/2 places libres</div>
  <div class="col-2 half-hour-color">1/2 place libre horaire</div>
  <div class="col-2 half-day-color">1/2 place libre demi-journée</div>
  <div class="col-2 full-color">Complet</div>
  <div class="col-2 closed-color">Fermé</div>
</div>
