@import "/~src/assets/style/colors";

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
  thead {
    tr {
      th {
        background: $blue;
        color: $light;
        padding: 0.5em;
        overflow: hidden;
        &:first-child {
          border-radius: 3px 0 0 0;
        }
        &:last-child {
          border-radius: 0 3px 0 0;
        }
        .day {
          display: block;
          font-size: 1.2em;
          border-radius: 50%;
          height: 30px;
          margin: 0 auto 5px;
          line-height: 1.8;
          &.active {
            background: $light;
            color: $blue;
          }
        }
        .short {
          display: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid $blue;
        text-align: center;
        vertical-align: middle;
        border-left: 1px solid $blue;
        position: relative;
        height: 32px;
        &:last-child {
          border-right: 1px solid $blue;
        }
        &.hour {
          font-size: 1em;
          padding: 0;
          color: $blue;
          background: #fff;
          border-bottom: 1px solid $blue;
          border-collapse: separate;
          min-width: 100px;
          cursor: default;
          span {
            display: block;
          }
        }
      }
    }
  }
  @media(max-width: 60em) {
    thead {
      tr {
        th {
          .long {
            display: none;
          }
          .short {
            display: block;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &.hour {
            span {
              transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
            }
          }
        }
      }
    }
  }
  @media(max-width: 27em) {
    thead {
      tr {
        th {
          font-size: 65%;
          .day {
            display: block;
            font-size: 1.2em;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin: 0 auto 5px;
            padding: 5px;
            &.active {
              background: $light;
              color: $blue;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &.hour {
            font-size: .7em;
            span {
              transform: translateY(16px) rotate(270deg);
              -webkit-transform: translateY(16px) rotate(270deg);
              -moz-transform: translateY(16px) rotate(270deg);
            }
          }
        }
      }
    }
  }
}

.mat-icon {
  cursor: pointer;
}

.closed-color {
  background: $light;
}

.full-color {
  background: $full-color;
}

.empty-color {
  background: $empty-color;
}

.half-color {
  background: $half-color;
}

.closed {
  @extend .closed-color;
}

.full {
  @extend .full-color;
}

.empty {
  cursor: pointer;
  @extend .empty-color;
}

.half {
  cursor: pointer;
  @extend .half-color;
}

.legende {
  display: flex;
  div {
    min-width: 100px;
  }
}
