<div class="jumbo mb-3">

  <div class="p-2">

    <div class="jumbo-title">
      <div class="col">
        Réserver pour le {{ getDate(seance.debut) }} :
      </div>
      <div class="col">
        <mat-radio-group [(ngModel)]="demiJournee" name="demiJournee" required class="title-radio"
        [disabled]="seance.dispo === 'half-day' || !data.demiJourneePossible" (change)="setHoraires()">
          <mat-radio-button [value]="true">{{ getDemiJourneeLabel() }}</mat-radio-button>
          <mat-radio-button [value]="false">Médiation animale et sensorielle : séance de {{ getTime(seance.debut) }} - {{ getTime(seance.fin) }}
          </mat-radio-button>
          <mat-radio-button [value]="false">Cours particuliers : de {{ getTime(seance.debut) }} à {{ getTime(seance.fin) }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="container pt-3">
      <form #formulaire="ngForm" (ngSubmit)="reserver(formulaire)">

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Nom accompagnant</mat-label>
              <input matInput [(ngModel)]="formulaireDto.nomAidant" name="nomAidant" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Prénom accompagnant</mat-label>
              <input matInput [(ngModel)]="formulaireDto.prenomAidant" name="prenomAidant" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Téléphone accompagnant</mat-label>
              <input matInput [(ngModel)]="formulaireDto.telAidant" type="tel" name="telAidant"
                     pattern="^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$" required #tel="ngModel">
              <mat-error *ngIf="formulaireDto.telAidant != null && tel.invalid">Téléphone invalide</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>E-mail accompagnant</mat-label>
              <input matInput [(ngModel)]="formulaireDto.mailAidant" type="email" name="mailAidant" required
                     #email="ngModel" email>
              <mat-error *ngIf="formulaireDto.mailAidant != null && email.invalid">E-mail invalide</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Je désire une séance individuelle :</label>
            <mat-radio-group [(ngModel)]="formulaireDto.seanceIndividuelle" name="seanceIndividuelle" required
                             [disabled]="seance.dispo !== 'empty'"
                             (change)="seanceIndividuelleChange()">
              <mat-radio-button [value]="true">Oui</mat-radio-button>
              <mat-radio-button [value]="false">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Nombre d'enfants :</label>
            <mat-radio-group [(ngModel)]="formulaireDto.nbVisiteur" name="nbVisiteur" required
                             [disabled]="formulaireDto.seanceIndividuelle || seance.dispo !== 'empty'">
              <mat-radio-button [value]="1">1</mat-radio-button>
              <mat-radio-button [value]="2">2</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Prénom enfant {{ formulaireDto.nbVisiteur === 2 ? '1' : '' }}</mat-label>
              <input matInput [(ngModel)]="formulaireDto.prenomVisiteur1" name="prenomVisiteur1" required>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="formulaireDto.nbVisiteur === 2">
            <mat-form-field class="w-100">
              <mat-label>Prénom enfant 2</mat-label>
              <input matInput [(ngModel)]="formulaireDto.prenomVisiteur2" name="prenomVisiteur2" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>L'accompagnant restera pendant la séance (conseillé si le visiteur accompagné est adulte) :</label>
            <mat-radio-group [(ngModel)]="formulaireDto.accompagnementVisiteur" name="accompagnementVisiteur" required>
              <mat-radio-button [value]="true">Oui</mat-radio-button>
              <mat-radio-button [value]="false">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Informations supplémentaires (ex : matière et niveau du cours, peur des animaux, hypo/hypersensibilité, conseils en cas de crise...)</mat-label>
              <textarea matInput [(ngModel)]="formulaireDto.commentaire" name="commentaire"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center">
          <mat-card class="col-10 mb-3 text-center">
            <p>{{ getPrice() }} euros TTC (règlement sur place)</p>
            <p>Rappel : la première séance <u>d'une heure</u> est gratuite !</p>
          </mat-card>
        </div>

        <div class="row">
          <div class="col">
            <mat-checkbox
              name="checkboxConditions"
              color="accent"
              [(ngModel)]="checkboxConditions">
              En cochant cette case, je certifie que les personnes qui visiteront Séréni’chat ne sont pas allergiques
              aux chats ni aux lapins.
              Je certifie également avoir compris que même si tout contact est étroitement surveillé et qu’un incident
              est hautement improbable, nos boules de poils peuvent réagir au stress par une griffure ou morsure.
              De notre côté, nous certifions que tous les habitants de Séréni’chat sont à jour dans leurs vaccins, anti
              parasités et vermifugés.
            </mat-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-checkbox
              name="checkboxPrivacy"
              color="accent"
              [(ngModel)]="checkboxPrivacy">
              En cochant cette case, j'accepte que mes informations soient transmises à Séréni'chat à des fins
              d'organisation des séances.
            </mat-checkbox>
            <mat-error *ngIf="submitted && (!checkboxPrivacy || !checkboxConditions)">Veuillez accepter les termes et
              conditions
            </mat-error>
          </div>
        </div>

        <mat-error *ngIf="submitted && !formulaire.valid" class="text-center">Il y a des erreurs dans le formulaire, veuillez corriger votre saisie.</mat-error>

        <div class="row justify-content-center mt-2">
          <button type="button" color="primary" mat-raised-button (click)="dialogRef.close(false)">Annuler</button>
          <button type="submit" color="primary" mat-raised-button (click)="submitted = true;" class="ml-1">Confirmer
          </button>
        </div>

      </form>
    </div>

  </div>

</div>
