<div class="text-big">
  <div class="color-turquoise-foncee text-center mt-5">
    <div>Si Séréni'chat est payant, c'est pour nous aider à louer notre <b>local</b> et à fournir <b>nourriture</b>, <b>litière</b> et <b>soins vétérinaires</b> à nos
      protégés.
    </div>
  </div>
  <div class="color-peche-foncee text-center">
    <div>Si vous voulez nous soutenir autrement, il y a 3 façons de le faire !</div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <div class="jumbo">
      <div class="jumbo-title">
        1) Faire un don <b>matériel</b>
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
          <div>Vous pouvez nous amener...
          </div>
          <div class="text-left">
            <div>- pour les <b>chats</b> : des croquettes pour chats stérilisés, de la litière agglomérante, des petites
              friandises pour chat, des jouets
            </div>
            <div>-pour les <b>lapins</b> : du foin, leurs fruits et légumes frais préférés (carotte, banane), des jouets à ronger
            </div>
            <div>- autre chose qui leur ferait <b>plaisir</b> !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col text-center mt-5 mb-5">
      <img src="../../assets/images/main.jpg" alt="main logo" class="logo-main">
  </div>
  <div class="col">
    <div class="jumbo">
      <div class="jumbo-title">
        2) Faire un don <b>financier</b>
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
          <div>Vous pouvez <b>participer</b> à notre <a href="https://www.leetchi.com/c/aide-au-fonctionnement-serenichat" target="_blank">cagnotte en ligne</a></div>
        </div>
      </div>
    </div>
    <div class="jumbo mt-3 mb-3">
      <div class="jumbo-title">
        3) <b>Parrainer</b> un animal
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
        Si vous le souhaitez, vous pouvez <b>parrainer</b> un animal de Séréni'chat : 
        soit l'un de nos <b>permanents</b>, soit l'un de nos <b>accueils</b> (en attendant qu'il 
        trouve une famille pour la vie) !
        <div>Pour <b>3 euros</b> par mois, vous recevrez ainsi des <b>photos</b> et <b>vidéos</b> de votre 
          petit protégé.</div></div>
      </div>
    </div>
  </div>
</div>