<div class="text-big">
  <div class="color-turquoise-foncee text-center mt-5">
    <div>Si Séréni'chat est payant, c'est pour nous aider à louer notre <b>local</b> et à fournir <b>nourriture</b>, <b>litière</b> et <b>soins vétérinaires</b> à nos
      protégés.
    </div>
  </div>
  <div class="color-peche-foncee text-center">
    <div>Si vous voulez nous soutenir autrement, il y a 2 façons de le faire !</div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <div class="jumbo">
      <div class="jumbo-title">
        Faire un don <b>matériel</b>
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
          <div>Vous pouvez nous amener
          </div>
          <div class="text-left">
            <div>- pour les chats : des croquettes pour chats stérilisés, de la litière agglomérante, des petites
              friandises pour chat, des jouets
            </div>
            <div>-pour les lapins : du foin, de la litière végétale, des fruits et légumes frais (carottes, épinards, endives, bananes, pommes), des jouets
            </div>
            <div>- autre chose qui leur ferait plaisir !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col text-center mt-5">
      <img src="../../assets/images/main.png" alt="main logo" class="logo-main">
  </div>
  <div class="col mt-5">
    <div class="jumbo">
      <div class="jumbo-title">
        Faire un don <b>financier</b>
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
          <div>Vous pouvez participer à notre <a href="https://www.leetchi.com/c/aide-au-fonctionnement-serenichat" target="_blank">cagnotte en ligne</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
