<div>

  <div class="row text-center pb-5 justify-content-center mt-5">
    <img class="img-rounded-corners local" src="../../assets/images/local.jpg" alt="local">
  </div>

<div class="row">
  <div class="col pb-3">
    <div class="jumbo">
      <div class="jumbo-title">
        Le concept
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
          <div>Séréni'chat est un lieu dédié à l'assistance aux enfants handicapés par le contact
            avec l'animal. Notre local comporte également une salle multi-sensorielle.
          </div>
          <div>Nous recueillons des chats et lapins en attente d'adoption, et ouvrons nos portes aux enfants en
            ressentant le besoin afin qu'ils profitent de quelques heures en compagnie de nos petits protégés.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="jumbo">
      <div class="jumbo-title">
        Séréni'Chat s'adresse aux :
      </div>
      <div class="jumbo-body">
        <ul class="color-turquoise-foncee">
          <li>Enfants neuro-atypiques</li>
          <li>Enfants handicapés moteurs</li>
          <li>Enfants souffrant d'anxiété</li>
          <li>Associations TSA/trisomie/TED</li>
          <li>Classes ULIS</li>
          <li>Hôpitaux de jour pédiatriques</li>
          <li>MDPH</li>
        </ul>
        <div class="color-peche-foncee text-center mt-3">
          Vous voulez réserver pour une personne non représentée ci-dessus ? <span class="typo-link" routerLink="/contact">Contactez-nous !</span></div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 justify-content-center">
  <div class="col-11">
    <img src="../../assets/images/free-cat-clipart-silhouette-vector-images.png" alt="cat logo" class="logo-cat">
    <div class="jumbo">
      <div class="jumbo-title">
        Qui gère Séréni'chat ?
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-left">
          <div class="color-peche-foncee">Noémie, fondatrice :</div>
          <div class="color-turquoise-foncee">
            <div>5 ans d'enseignement</div>
            <div>Formation Sésame Autisme</div>
            <div>Intervenante classe ULIS</div>
            <div>Certificat de capacité animaux domestiques</div>
            <div>Formation aux premiers secours.</div>
            <div class="color-peche-foncee text-center mt-3">
              Vous êtes entre de bonnes mains !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
