<div>

  <div class="row justify-content-center pt-4 pb-4">
    <div class="diaporama text-center">
      <img class="image-diaporama" *ngFor="let image of images; let i = index;" [src]="image.image" [alt]="image.alt"
           (click)="showLightbox(i)">
    </div>
  </div>
</div>

<ng-image-fullscreen-view
  [images]="images"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()">
</ng-image-fullscreen-view>

<div class="row">
  <div class="col pb-3">
    <div class="jumbo">
      <div class="jumbo-title">
        Le concept de <b>Séréni'chat</b> : de la <b>médiation animale</b> à Paris
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-center">
          <div><b>Séréni'chat</b> est un lieu dédié à l'assistance aux <b>enfants handicapés</b> par le <b>contact
            avec l'animal</b>. Notre local comporte également une salle <b>multi-sensorielle.</b>
          </div>
          <div>Nous recueillons des <b>chats</b> et <b>lapins</b> en attente d'adoption, et ouvrons nos portes aux enfants en
            ressentant le besoin afin qu'ils profitent de quelques heures en compagnie de nos petits protégés.
          </div>
          <div>La <b>médiation animale</b> (ou <b>zoothérapie</b>) et la stimulation <b>sensorielle</b> apportent un réel <b>mieux être</b> à leurs bénéficiaires. Si vous voulez tester une <b>séance gratuite</b>, vous êtes les bienvenus !
          </div>
          <div class="mt-3 color-peche-foncee">
            Comment se déroule une <b>séance</b> ?</div>
          <div>Cela dépend de chaque visiteur : certains choissent des <b>activités proposées</b> 
            (nourrissage, jeux, caresses, dessin, salle multi-sensorielle...),
          d'autres aiment simplement <b>profiter du lieu</b> de façon autonome sans rien faire de particulier,
          et d'autres encore apportent leur <b>activité préférée</b> (casque et musique, matériel de dessin ou 
          de photographie) pour être simplement entourés d'animaux.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="jumbo">
      <div class="jumbo-title">
      <b>Séréni'chat</b> s'adresse aux :
      </div>
      <div class="jumbo-body">
        <ul class="color-turquoise-foncee">
          <li>Enfants <b>neuro-atypiques</b> (TSA, TED)</li>
          <li>Enfants souffrant d'<b>anxiété</b> ou de <b>troubles obsessionnels</b></li>
          <li>Enfants porteurs de <b>trisomie</b></li>
          <li>Enfants <b>malades chroniques</b></li>
          <li><b>Particuliers</b> ou <b>organisations</b> : classes ULIS, HDJP, MDPH...</li>
        </ul>
        <div class="color-peche-foncee text-center mt-3">
          Vous voulez réserver pour une personne non représentée ci-dessus (un adulte par exemple) ? <span class="typo-link"
                                                                                   routerLink="/contact">Contactez-nous</span> afin de déterminer si c'est possible !
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 justify-content-center">
  <div class="col-11">
    <img src="../../assets/images/free-cat-clipart-silhouette-vector-images.jpg" alt="cat logo" class="logo-cat">
    <div class="jumbo">
      <div class="jumbo-title">
        Qui gère <b>Séréni'chat</b> ?
      </div>
      <div class="jumbo-body">
        <div class="color-turquoise-foncee text-left">
          <div class="color-peche-foncee"><b>Noémie</b>, fondatrice :</div>
          <div class="color-turquoise-foncee">
            <div>Après plusieurs années d'enseignement qui ont été fantastiques, j'ai décidé de créer ma propre activité 
              mêlant deux pôles essentiels à mon projet de vie : l'assistance aux personnes différentes et la protection des animaux.</div>
            <div>Je me forme en continu concernant ces deux aspects de l'activité, et possède bien entendu le certificat de capacité Animaux Domestiques ainsi qu'une formation aux Premiers Secours.</div>
            <div class="color-peche-foncee text-center mt-3">
              Vous êtes entre de bonnes mains !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

